.fp{
    margin-top: 20px;
    padding-left: 10rem;
    color: #0e5e12;
    font-size: 1.1rem;
}

.fp:hover{
    color: #08410b;
}

.login-container {
    max-width: 400px;
    margin: 80px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h1 {
    font-size: 30px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .form-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .form-label {
    font-weight: bold;
    color: #555;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 5px;
    font-size: 16px;
  }
  
  button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  

  @media (max-width: 600px) {
    .login-container {
      width: 90%;
      padding: 15px;
    }
  
    h1 {
      font-size: 24px;
    }
  }
  
  