

.hero {
    /* background-image: url('../images/cover.jpg'); */
    background-size: cover;
    background-position: center; /* Centers the background image */
    position: relative;
    /* color: white; */
    background-image: linear-gradient(to bottom right, rgb(215, 247, 173), rgb(250, 250, 247))
    /* padding: 80px 0;
    margin:10px;
    border-radius: 10px; */
  }

  .hero .btn{
    background-color: #087e35;
    color: white;
    border-color: transparent;
  }

  .hero .btn:hover{
    background-color:#07421e ;
    color: white;
  }
  
  .hero-content {
    padding-right: 20px;
  }
  
  .hero-title {
    font-size: 2.5rem;
    font-weight: 600;
    color: #343a40;
    margin-bottom: 20px;
  }
  
  .hero-desc {
    font-size: 1.1rem;
    color: #6c757d;
    margin-bottom: 30px;
  }
  
  .hero-img img {
    max-width: 100%;
    height: auto;
    border-radius: 80rem;
    position: relative; /* Position relative to allow overlap */
    z-index: 0; /* Allows overlap */
    margin-top: 30px;
    margin-bottom: 60px;
  }


  /* "How to Use" Section Styling */
.how-to-use {
  background-color:  #297c30;
    /* background-color: #42a768; */
    color: white;
    padding: 60px 0;
    margin:40px;
    border-radius: 20px;
    position: relative; /* Position relative to allow overlap */
    z-index: 0; /* Allows overlap with the hero section */
    margin-top: -30px; /* Pulls the section up to overlap the previous section */
  }
  
  .how-to-use-content {
    text-align: center;
  }
  
  .section-title {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .section-desc {
    font-size: 1.1rem;
    margin-bottom: 30px;
  }
  
  .how-to-use .btn {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #fff;
    color: #07421e;
    border: none;
    border-radius: 5px;
  }
  
  .how-to-use .btn:hover {
    background-color: #07421e;
    color: white;
  }

  .about-us{
    background-image: linear-gradient(to bottom right, rgb(215, 247, 173), rgb(250, 250, 247));
  }
  .about{    
    max-width: 100%;
    height: auto;
    border-radius: 80rem;
    position: relative; /* Position relative to allow overlap */
    z-index: 0; /* Allows overlap */
    margin-top:-4rem;
    margin-bottom: 2rem;

  }

  .about-desc{
    padding: 1.5rem;
    font-size: 110%;
  }

  .about-img img{
    max-width: 100%;
    height: auto;
    border-radius: 80rem;
    position: relative; /* Position relative to allow overlap */
    z-index: 0; /* Allows overlap */
    margin-top:4rem;
    margin-bottom: 4rem;

  }

  .about-content .btn{
    background-color: #087e35;
    color: white;
    border-color: transparent;
  }

  .about-content .btn:hover{
    background-color: #07421e;
    color: white;
  }
  

  .testimonials {
    padding: 50px 0;
    background-color: #fffafa;
    margin-top: -3.5rem;
    border-radius: 30px;
    position: relative;
    z-index: 0;
    background-image: radial-gradient(rgb(226, 248, 205), rgb(207, 247, 184), rgb(36, 126, 36));
  }
  
  .testimonials .section-title {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .testimonials .section-desc h5 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  .testimonials .card {
    margin-bottom: 20px;
    background-image: linear-gradient(to bottom right, rgb(215, 247, 173), rgb(250, 250, 247));
  }

  .card-shadow {
    box-shadow: 0px 4px 10px rgba(15, 80, 7, 0.7); /* Customize the shadow */
    transition: box-shadow 0.3s ease; /* Smooth transition */
  }
  
  .card-shadow:hover {
    box-shadow: 0px 6px 20px rgba(4, 66, 13, 0.3); /* Shadow effect on hover */
  }
  
  
  .testimonials .card img {
    height: 180px;
    object-fit: cover;
  }
  
  .testimonials .card-body {
    text-align: center;
  }



  .contact{
    background-color: #2a4931;
    color:#f9f9f9;
    margin-top: -2rem;
    padding-top: 4rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right:2rem ;
    column-gap: 50px;
  }
  .contact img{
    height:120px;
    width: 100px;
    border-radius: 80rem;
    margin: -30px;
  }
  .contact-link{
    color: white;
    text-decoration: none;
  }

  .contact-title{
    font-size: 30px;
  }

  .footer__link-title {
    margin:20px;
    padding-bottom: 10px;
  }

  .footer {
    background-color: #0a3a19;
    color: white;
    text-align: center;
    padding: 10px 0;
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: Arial, sans-serif;
  }
  
  /* .footer .container {
    max-width: 1200px;
    margin: 0 auto;
  } */
  
  
  .footer a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  

  